body {
  font-family: sans-serif;
    text-align: center;
    width: 960px;
    margin: auto;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0 0;
}

#reset-button {
  border: solid 3px black;
  background-color: transparent;
  font-size: 2rem;
  margin: 20px;
}

#grid-container {
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    row-gap: 0;
    column-gap: 0;
    margin: auto;
    justify-content: center;
    width: 800px;
    height: 800px;
  }

.mouse-over{
    background-color: blueviolet;
}